{{ partial "header.html" . }}
<main role="main" class="article-list">
  {{ range .Data.Pages }}
  <h1 class="list-title">{{ .Title }}</h1>
<article class="list-item" itemscope itemtype="http://schema.org/Blog">
  <section class="summary">
    {{ .Content | markdownify }}
  </section>
</article>
  {{ end }}
</main>
{{ partial "footer.html" . }}
