{{ partial "header.html" . }}
<main role="main" class="article-list">
  <h1 class="list-title">le moulin à paroles</h1>
  <div class="list-parole">
  {{ range .Data.Pages }}
    {{ partial "parole-list-item.html" . }}
  {{ end }}
  </div>
</main>
{{ partial "footer.html" . }}
