<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
{{- with $.Param "keywords" }}
<meta name="keywords" content="{{ delimit . "," }}">
{{- end }}
{{- with $.Param "author" }}
<meta name="author" content="{{ . }}">
{{- end }}
{{ .Hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css">
<link rel="alternate" href="{{ "index.xml" | relURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
</head>
<body>

<header>
  <div class="container clearfix">
    <a class="path" href="{{ .Site.BaseURL }}">[{{ .Site.Title }}]</a>
    <span class="caret"># _</span>
    <div class="nav center">
      <center>
      {{ range where .Site.Sections.Reverse "Section" "!=" "contact" }}
      {{ if ne .Section "fames" }}
        <a class="path" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      {{ end }}
      </center>
      </div>
    <div class="nav right">
      {{ range where .Site.Sections.Reverse "Section" "=" "contact" }}
        <a class="path" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
        <!--
        <a class="path" href="https://cloud.nry.pw/index.php/apps/calendar/p/piPR3enHcQK8N2E6/FAME" target="_blank">Agenda</a>
        -->
        <a class="path" href="https://cloud.nry.pw/index.php/s/ej2G8wt8dJWRsRe" target="_blank">Partitions</a>
      </div>
      <!--
      {{ range $i, $page := (where .Site.Pages "Section" "parole") }}
        {{ if not (eq $i 0) }}|{{ end }}
        <a class="path" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      {{ end }}
      -->
    </div>
  </div>
</header>

<script>

function choseOneBg() {

  var index = Math.floor(Math.random() * 2);

  if (index == 0) {
    document.body.style.background = 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url({{ "img/milmus.jpg" | relURL }})';
  } else {
    document.body.style.background = 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url({{ "img/some4a.jpg" | relURL }})';
  }

  document.body.style.backgroundSize = "100%";
}

choseOneBg();
</script>

<div class="container">
